<div class="comment-editing d-none">
  <textarea class="w-100" style="height:10rem;" required=""><%=comment.body%></textarea>
  <div class="d-flex justify-content-end">
    <button class="btn btn-link" onclick="toggleEditing(this)"> 취소 </button>
    <button class="btn btn-primary"> 댓글 수정 </button>
  </div>
</div>