<link rel="stylesheet" href="../stylesheets/style.css">

<nav class="navbar navbar-light bg-light">
</nav>

  <!-- <nav class="navbar navbar-light bg-light"> -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ml-3" href="/">홈</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0 mr-5" method="get" action="/">
        <input class="form-control mr-sm-2" type="q" placeholder="글 제목으로 검색..." aria-label="Search" name="q">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="">검색</button>
      </form>
      <% if (isLoggedIn) { %>
          <div class="mx-2"  style="max-width: 3rem;">
            <a class="d-flex flex-column" href="/profile/<%=userId%>">
              <% if (user?.thumbnailUrl) { %>
                <img src=<%=user?.thumbnailUrl ?? "/asset/defaultProfile.png" %> class="img rounded-circle" alt="" onerror="((elem) => {elem.src='/asset/defaultProfile.png'})(this)">
                <% } else {%>
                <img src="/asset/defaultProfile.png" class="img rounded-circle" alt="">
              <% }%>
              <span class="font-bold font-italic" style="text-align: center; color: black;">
                <%= userId %>
              </span>
            </a>
          </div>


        <a class="btn btn-outline-primary m-1" href="/logout">로그아웃</a>
      <% } else {%>
        <a class="btn btn-outline-primary m-1" href="/login">로그인</a>
        <a class="btn btn-outline-primary mr-1" href="/signup">회원가입</a>
      <% }  %>
    </div>
  </nav>
