
<div class="comment py-3">

  <div class="comment-top-part" style="margin-bottom: 1.5rem;">
    <%- include('comment-profile-part.ejs', {comment: comment}) %>
  </div>
  <%- include('comment-middle-part.ejs', {comment: comment}) %>
</div>