<!doctype html>
<html lang="en">
  <head>
    <%- include('components/common-head.ejs', {pageTitle: '로그인후 이용'})  %> 
  </head>
  <body>
    <%- include('components/navbar.ejs')  %> 
    <div class="container">
      <h3>로그인 후 이용해 주세요.</h3>
      <a name="" id="" class="btn btn-primary" href="/login" role="button">로그인</a>
    </div>
  </body>
</html>
